{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.portfolio }}
    {{ if .enable }}
    {{ "<!-- Start Portfolio Section -->" | safeHTML }}
        <div class="row filtr-container">
                {{ range .item }}
                    <div class="col-6 col-md-4 padding-0 filtr-item" data-category="{{.category}}">
                        <!-- some content  -->
                    </div>
                {{ end }}
            </div>
    {{ "<!-- End section -->" | safeHTML }}
    {{ end }}
{{ end }}
