    <link href="/css/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="/js/mcVideoPlugin.js" type="text/javascript"></script>
    <script src="/js/js-image-slider.js" type="text/javascript"></script>
    <link href="/css/generic.css" rel="stylesheet" type="text/css" />

    
    <div id="sliderFrame">
        <div id="slider">
            <a class="video" href="https://www.youtube.com/watch?v=tHc_wbDNbaU" data-autovideo="true">
                <b data-src="/images/slider/shahid-slider-1.jpg">Image Slider</b>
            </a>
            <a class="video" href="https://www.youtube.com/watch?v=CWILbdWdrbE" data-autovideo="true">
                <b data-src="/images/slider/shahid-slider-1.jpg.jpg">Vimeo</b>
            </a>
             <a class="video" href="https://www.youtube.com/watch?v=8KNfOzJk4MU" data-autovideo="true">
                <b data-src="/images/slider/shahid-slider-1.jpg.jpg">Vimeo</b>
            </a>
              <a class="video" href="https://www.youtube.com/watch?v=EzvoqzlX-Ik" data-autovideo="true">
                <b data-src="/images/slider/shahid-slider-1.jpg.jpg">Vimeo</b>
            </a>           
            <a class="video" href="https://vimeo.com/69924684" data-autovideo="true">
                <b data-src="/images/slider/shahid-slider-1.jpg.jpg">Slide 5</b>
            </a>
        </div>
    </div>

