{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.conference }}
<div class="container">
  <div class="title-page"><h2>{{ .title }}</h2></div>
  {{ range .item }} 
  {{ "<!-- conference single -->" | safeHTML }}  
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{{ .image }}">
          <img class="image-size-1" src="{{ .image }}" alt="Image" >
        </a>
      </div>
    </div>
  {{ end }}   
  <div class="clearfix"></div>
</div>
{{ end }}   

