{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.gallery }}
{{ if .enable }} 
<div class="container">
  <div class="title-page"><h2>{{ .title }}</h2></div>


<div class="row">
  <div class="col-md-12">
    <div id="mdb-lightbox-ui"></div>
      <div class="mdb-lightbox no-margin">
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
              class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(98).jpg" data-size="1600x1067">
            <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(98).jpg"
              class="img-fluid" />
          </a>
        </figure>
      </div>
    </div>
</div>


    {{ range .item }} 
    {{ "<!-- gallery -->" | safeHTML }}   
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{{ .image }}"><img class="image-size-1" src="{{ .image }}" alt="Image" ></a>
        </div>
      </div>
    {{ end }}   




<div class="clearfix"></div>




</div>
{{ end }} 
{{ end }}   

<script>
// MDB Lightbox Init
$(function () {
$("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
});
</script>