{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.gallery }}
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<div class="container">
  <div class="title-page"><h2>Shahid Shah</h2></div>
    {{ range .item }} 
    {{ "<!-- testimonial single -->" | safeHTML }}   
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{{ .image }}"><img class="image-size-1" src="{{ .image }}" alt="Image" ></a>
        </div>
      </div>
    {{ end }}   
  <div class="clearfix"></div>
</div>
{{ end }}   

